{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="subtitle is-1"> Contact Us </h1>
<hr/>
<h2> Send Us A Message </h2>
You can send us an email to <a href="mailto:team@infinitysearch.co">
team@infinitysearch.co</a>
<hr/>
<h2> Follow Us On Twitter </h2>
Keep up with us at <a href="https://twitter.com/InfinitySearch1"> https://twitter.com/InfinitySearch1 </a>
<hr/>
<h2> View Our Repositories On GitLab </h2>
Our open source projects and code can be found at <a href="https://gitlab.com/infinitysearch">
https://gitlab.com/infinitysearch </a>
<br>
{% endblock %}
