{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Infinity Search Solo Privacy Policy </h1>
<hr/>

<h2> Information Collected </h2>
We do not log any information on Infinity Search Solo.
<hr/>

<h2> Information Shared </h2>
To display our search results, we get content Bing and Wikipedia. These external
    services are directly provided with the user's search, but, in their systems, they see Infinity Search Solo as the user making the request.
<br><br>


{% endblock %}
